/* src/components/AccordionUsage.css */


.accordion {
    background-color: red;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
.accordion.expanded {
    border-bottom: 1px solid #ff0000;
  }
  .accordion-summary {
    background-color: #f7f7f7;
  }
  
  .accordion-details {
    padding: 16px;
    background-color: #f9f9f9;
  }
  