html,
body {
  background-color: #fff;
  font-family: "Nunito", sans-serif;

  margin: 0px !important;
  padding: 0px !important;
}

* {
  text-decoration: none !important;
}
.nav {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  background-color: #fff;
}

.nav .links {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.nav .links a {
  font-size: 17px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  transition: ease-in 0.2s;
}

.nav .links a:hover {
  color: rgb(47, 139, 224);
}

.nav .links .mainlink {
  color: rgb(47, 139, 224);
}

.nav h4 {
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: transform 0.4s;
}

.rotate1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.rotate2 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hidden {
  opacity: 0;
}

/* LANDING CSS */

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 10vw;
}

.landingText {
  margin-top: 3rem;
}

.landingText h1 {
  font-size: 6vw;
  margin: 0 !important;
}

.landingText h3 {
  margin: 6px !important;
  font-size: 17px;
  opacity: 0.5;
  line-height: 30px;
}

.landingText .btn {
  width: 120px;
  margin-top: 30px;
  padding: 14px 20px 14px 20px;
  background-color: #e0501b;
  border-radius: 45px;
  text-align: center;
}

.landingText .btn a {
  font-size: 1.2vw;
  color: #fff;
}

.landingImage img {
  width: 28vw;
}

/* ABOUT CSS */

.about {
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutText {
  position: relative;
  padding: 0 50px;
  height: inherit;
}

.aboutText h1 {
  position: relative;
  left: 110px;
}

.aboutText img {
  width: 10vw;
  position: absolute;
  top: 50px;
}

.aboutList {
  width: 50%;
}

ol {
  list-style: none;
  color: #e0501b;
}

ol li {
  font-size: 34px;
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

li p {
  font-size: 16px;
  color: #000;
  padding-left: 60px;
  line-height: 30px;
  opacity: 0.6;
}

li span {
  position: absolute;
  line-height: 25px;
  font-weight: 600;
}

/* INFO_SECTION CSS */

.infoSection {
  /* height: 600px; */
}

.infoHeader {
  text-align: center;
  margin-bottom: 40px;
}
/* 
.infoCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 40px 0;
} */

.infoCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.infoCards .card {
  position: relative;
  height: 360px;
  width: 350px;
  background: #fff;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.infoCards .one .cardoneImg {
  width: 180px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.infoCards .two .cardtwoImg {
  width: 158px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.infoCards .three .cardthreeImg {
  width: 200px;
  position: absolute;
  top: -50px;
  right: -50px;
}

.cardbgone {
  height: 150px;
  background-color: #ffce63;
}
.cardbgtwo {
  height: 150px;
  background-color: #a1cdff;
}

.cardContent {
  padding: 0 20px;
}

.cardContent h2 {
  font-weight: 600;
}

.cardContent p {
  line-height: 30px;
  opacity: 0.6;
}

.cardContent .cardBtn {
  position: absolute;
  right: 20px;
  padding: 10px;
  background-color: #ededed;
  width: 120px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.cardContent .cardBtn:hover {
  background-color: #2f8be0;
}

.cardBtn:hover .detailsText {
  color: #fff;
}

.cardContent .cardBtn .cardIcon {
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
}

/* Banner */

.banner {
  height: 400px;
  background-color: #ffce63;
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.bannerText h1 {
  font-size: 3vw;
  color: #000;
  font-weight: 600;
}

.bannerText img {
  width: 10vw;
  margin-right: 20px;
}

.bannerImg img {
  width: 20vw;
}

/* FOOTER CSS */

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.footerlinks a {
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.footerlinks .mainlink {
  color: #e0501b;
}

/* Card */

.card {
  margin: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

/* book */
/* BookCard.css */

.book-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content:; */
  /* position: relative; */
  align-items: center;
  width: 180px;
  height: 300px;
  /* height:100%; */
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card-img {
  margin-top: 10px;
  width: 120px;
  height: 200px;
  object-fit: cover;
}

.book-card-content {
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100px; */
  /* bottom: 20px; */
  /* left: 30px;
  right: 20px; */
  z-index: 2;
  color: #000;
}
.book-card-content-bottom {
  display: block;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}
.book-card-content h2 {
  font-size: 0.9rem;
}

.book-card-content p {
  font-size: 0.7rem;
  /* margin-bottom: 10px; */
}

.book-card-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.book-card-btn:hover {
  background-color: #0056b3;
}

.details-text {
  font-weight: bold;
}

.books-padding {
  margin-top: 100px;
}
.new-books {
  padding: 40px 0;
  /* margin-top: 100px; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding: 40px 0; */
  flex-wrap: wrap;
}
/* Back button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
}
.backIcon {
  font-size: 16px !important;
}
.back-button i {
  margin-right: 5px;
}
.modal-content {
  position: absolute;
  top: 0;
  right: -300px; /* Initial position outside the screen */
  width: 300px;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  transition: right 0.5s, opacity 0.5s; /* Apply transition to right and opacity */
}

.modal.show .modal-content {
  right: 0; /* Slide in from the right */
  opacity: 1;
}

.modal.hide .modal-content {
  right: -300px; /* Slide out to the right */
  opacity: 0;
}
/* Adjust modal links */
.modal-links {
  padding-top: 60px; /* Make space for back button */
}

.modal-links a {
  display: block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.modal-links a:hover {
  color: rgb(47, 139, 224);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop.show {
  opacity: 1;
  pointer-events: all;
}
.modal {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;

  background-color: white;
  z-index: 15;
  transition: right 0.3s ease;
}

.modal.show {
  right: 0;
}

.modal-content {
  padding: 20px;
}

.back-button {
  cursor: pointer;
  margin-bottom: 20px;
}

.modal-links {
  display: flex;
  flex-direction: column;
}

.modal-links a {
  color: black;
  text-decoration: none;
  padding: 10px 0;
}

.modal-links a:hover {
  text-decoration: underline;
}
/* RESPONSIVE */
@media only screen and (max-width: 1062px) {
  /* Gradually decrease font size */
  .nav .links a {
    font-size: calc(17px - 0.01 * (100vw - 769));
  }

  /* Hide the links by default */
  .nav .links {
    display: none;
  }

  /* Styles for the menu icon */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.4s;
  }

  .rotate1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .rotate2 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Styles for the modal */

  .modal {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;

    max-width: 400px;
    z-index: 1000;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease;
  }

  .modal.show {
    display: block;
  }
  .modal-content {
    position: absolute;
    top: 0;
    right: -300px; /* Initial position outside the screen */
    width: 300px;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    transition: right 0.5s, opacity 0.5s; /* Apply transition to right and opacity */
    opacity: 0; /* Hide the modal initially */
  }

  .modal.show .modal-content {
    right: 0; /* Slide in from the right */
    opacity: 1; /* Show the modal with fade effect */
  }

  .modal.hide .modal-content {
    right: -300px; /* Slide out to the right */
    opacity: 0; /* Hide the modal with fade effect */
  }
  /* Modal links */
  .modal-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modal-links a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }

  .modal-links a:hover {
    color: rgb(47, 139, 224);
  }
}
@media only screen and (max-width: 600px) {
  /* ABOUT */

  .about {
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutText {
    padding: 0 50px;
    height: 100px;
  }

  .aboutText h1 {
    left: 40px;
    font-size: 5vw;
  }

  .aboutText img {
    width: 16vw;
    top: 10px;
    left: -30px;
  }

  .aboutList {
    width: 75%;
  }

  ol li {
    font-size: 26px;
  }

  li p {
    font-size: 14px;
  }

  .infoSection {
    height: auto;
  }

  .infoHeader {
    text-align: center;
    margin: 40px 0;
    font-size: 0.8rem;
  }

  .infoCards {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .infoCards .card {
    margin-bottom: 60px;
  }

  .banner {
    height: auto;
    flex-direction: column-reverse;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner h1 {
    font-size: 6vw;
  }

  .bannerInnerText {
    font-size: 3vw !important;
  }

  .bannerText img {
    width: 20vw;
  }

  .bannerImg img {
    width: 26vw;
  }

  .footer {
    padding-bottom: 40px;
  }

  .footerlinks a {
    margin: 10px;
    font-size: 16px;
  }
}


/* agecard css */
.ageCard{
  padding: 0 10px;
  width: 200px;
  height: 120px;
  margin:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border:1px solid #000;
  opacity: 0; /* Initial opacity */
  border: 1px solid #000; /* Initial border color */
  transition: border-color 2s ease-in-out, opacity 2s ease-in-out;}
.ageCard-line{
  background-color: gray;
  height: 70px;
  width: 1px;
}
.ageCard-text{
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}
.ageCard:hover{
  border-color: rgb(47, 139, 224); /* Change border color on hover */
  opacity: 1; /* Change opacity on hover */
}


/* details page */
.details-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px
}
.details-head{
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.details-img{
  margin-right: 20px;
}
.details-p{
  text-indent:40px;
  text-align: justify;
}